
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenido a las Encuestas, que desea realizar?</h2>

<ul>
    <li>@Html.ActionLink("Crear Encuesta", "Crear", "Encuesta")</li>
    <li>@Html.ActionLink("Mostrar Encuestas", "Consultar", "Encuesta")</li>
</ul>